<!DOCTYPE html>
<html lang="en">

<head data-theme="dracula">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EpicTask</title>
</head>

<body>

    <div class="navbar bg-base-100 shadow-sm">
        <a class="btn btn-ghost text-xl">EpicTask</a>
    </div>

</body>

</html>